<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>StockInc</title>
        <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    </head>
    
    <body class="background-container">
        <!-- Navbar -->
        <div class="nav-bar">
            <a th:href="@{/index}"><img th:src="@{/images/Logo.png}"/></a>
            <span class="nav-bar-item"><a th:href="@{/index}" style="color: #C6EBF2;">Listings</a></span>
            <span class="nav-bar-item"><a th:href="@{/groups}" style="color: #C6EBF2;">Groups</a></span>
            <span class="nav-bar-item"><a th:href="@{/assets}" style="color: #C6EBF2;">Assets</a></span>
            <span class="nav-bar-item nav-bar-item-end"><a th:href="@{/logout}" style="color: #C6EBF2;">Logout</a></span>
        </div>
        <span class="same-line nav-bar-user-data">
            <div>Credit: $<span th:text="${userCredits}"></span></div>
            <div style="width: 5px;"></div>
            <div>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} &gt; 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestment(userName)}"></span>
                    <span class="green" style="font-weight: bold;">
                        (+$<span th:with="userName=${userName}" th:text="${accountService.getGainLoss(userName)}"></span>)
                    </span>
                </span>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} &lt; 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestment(userName)}"></span>
                    <span class="red" style="font-weight: bold;">
                        (-$<span th:with="userName=${userName}" th:text="${accountService.getGainLoss(userName)}"></span>)
                    </span>
                </span>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} == 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestment(userName)}"></span>
                    <span style="font-weight: bold;">
                        (+$<span th:with="userName=${userName}" th:text="${accountService.getGainLoss(userName)}"></span>)
                    </span>
                </span>
            </div>
        </span>

        <!--  -->
        <div style="display: flex;">
            
        </div>
    </body>
</html>