<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>StockInc</title>
        <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    </head>
    
    <body class="background-container">
        <!-- Offscreen Menu Group Listing -->
        <div class="offscreen-menu" id="groupListingMenu">
            <div>Group Listing</div>
        </div>

        <!-- Offscreen Menu Create Group -->
        <div class="offscreen-menu" id="createGroupMenu">
            <!-- Create Group Form -->
            <div id="createGroupForm" style="display: none;">
                <div class="offscreen-menu-header">Create Group</div>
                <form th:action="@{/createGroup}" method="get">
                    <div style="display: flex; justify-content: center;">
                        <div style="width: 60%; text-align: center;">
                            <div><input type="text" name="groupName" placeholder="Group Name" class="text-field-large width-93"/></div>
                            <div><input type="text" name="groupSymbol" placeholder="Group Symbol" class="text-field-large width-93"/></div>
                            <button type="submit" class="button" style="width: 100%; padding-top: 7px; padding-bottom: 7px;">Create (Cost: $100)</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Group Settings Form -->
            <div id="groupSettingsForm" style="display: none;">
                <div class="offscreen-menu-header">Group Settings</div>
                <div class="offscreen-menu-subheader" id="groupName">Stock Name</div>
                <form th:action="@{/disbandGroup}" method="get">
                    <div style="display: flex; justify-content: center;">
                        <div style="width: 60%; text-align: center;">
                            <input type="hidden" th:value="0" name="groupSymbol" id="groupSymbolInput"/>
                            <button type="submit" class="button" style="width: 100%; padding-top: 7px; padding-bottom: 7px;">Disband Group</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Navbar -->
        <div class="nav-bar">
            <a th:href="@{/index}"><img th:src="@{/images/Logo.png}"/></a>
            <span class="nav-bar-item"><a th:href="@{/index}" style="color: #C6EBF2;">Listings</a></span>
            <span class="nav-bar-item"><a th:href="@{/groups}" style="color: #C6EBF2;">Companies</a></span>
            <span class="nav-bar-item"><a th:href="@{/infrastructure}" style="color: #C6EBF2;">Infrastructure</a></span>
            <span class="nav-bar-item"><a th:href="@{/messages}" style="color: #C6EBF2;">Messages</a></span>
            <span class="nav-bar-item nav-bar-item-end"><a th:href="@{/logout}" style="color: #C6EBF2;">Logout</a></span>
        </div>
        <span class="same-line nav-bar-user-data">
            <div>Credit: $<span th:text="${userCreditsString}"></span></div>
            <div style="width: 5px;"></div>
            <div>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} &gt; 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestmentString(userName)}"></span>
                    <span class="green" style="font-weight: bold;">
                        (+$<span th:with="userName=${userName}" th:text="${accountService.getGainLossString(userName)}"></span>)
                    </span>
                </span>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} &lt; 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestmentString(userName)}"></span>
                    <span class="red" style="font-weight: bold;">
                        (-$<span th:with="userName=${userName}" th:text="${accountService.getGainLossString(userName)}"></span>)
                    </span>
                </span>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} == 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestmentString(userName)}"></span>
                    <span style="font-weight: bold;">
                        (+$<span th:with="userName=${userName}" th:text="${accountService.getGainLossString(userName)}"></span>)
                    </span>
                </span>
            </div>
        </span>

        <!-- Table/Create Group Box -->
        <div style="display: flex;">
            <!-- Group Listing Table -->
            <div style="width: 100%;">
                <table class="table">
                    <thead class="table-head">
                        <tr>
                            <th class="table-head-0">Name</th>
                            <th class="table-head-1">Symbol</th>
                            <th class="table-head-2">Price</th>
                            <th class="table-head-3">Change %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="group : ${groups}" class="table-row" th:attr="onclick=|clickGroupListing('${group.name}', '${group.symbol}')|">
                            <td class="table-column-0"><span th:text="${group.name}"></span></td>
                            <td class="table-column-1"><span th:text="${group.symbol}"></span></td>
                            <td><span th:with="groupSymbol=${group.symbol}" th:text="'$' + ${groupService.getTotalValueString(groupSymbol)}"></span></td>
        
                            <td class="table-column-3">
                                <span th:text="${group.priceChange} + '%'"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Group Settings Tab -->
            <div th:if="${groupStatus} != 'Member'" style="width: 30%;">
                <a href="#" th:attr="onclick=|clickGroupSettingsTab('${groupName}', '${groupSymbol}', '${groupStatus}')|">
                    <div class="border-box-2">
                        <div th:if="${groupStatus} == 'None'" class="border-box-2-header">Create Group</div>
                        <div th:if="${groupStatus} == 'Founder'" class="border-box-2-header">Group Settings</div>
                    </div>
                </a>
            </div>
        </div>

        <script type="text/javascript" src="js/offscreenMenuGroup.js"></script>
    </body>
</html>