<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>StockInc</title>
        <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    </head>
    
    <body class="background-container">
        <h1 style="margin:0">Welcome to StockInc, <span th:text="${userLogin}"></span>!
            [<a th:href="@{/profile}">Profile</a>]
            [<a th:href="@{/logout}">Logout</a>]
        </h1>
        <h2 style="margin:0">Credit: $<span th:text="${userCredits}"></span></h2>
        
        <span th:with="account=${account}" th:if="${accountService.getGainLoss(account)} &gt; 0">
            <h3 style="margin:0">
                Investment: $<span th:with="account=${account}" th:text="${accountService.getTotalInvestment(account)}"></span>
                <span style="color: green">
                    (+$<span th:with="account=${account}" th:text="${accountService.getGainLoss(account)}"></span>)
                </span>
            </h3>
        </span>
        <span th:with="account=${account}" th:if="${accountService.getGainLoss(account)} &lt; 0">
            <h3 style="margin:0">
                Investment: $<span th:with="account=${account}" th:text="${accountService.getTotalInvestment(account)}"></span>
                <span style="color: red">
                    (-$<span th:with="account=${account}" th:text="${accountService.getGainLoss(account)}"></span>)
                </span>
            </h3>
        </span>
        <span th:with="account=${account}" th:if="${accountService.getGainLoss(account)} == 0">
            <h3 style="margin:0">
                Investment: $<span th:with="account=${account}" th:text="${accountService.getTotalInvestment(account)}"></span>
                (+$<span th:with="account=${account}" th:text="${accountService.getGainLoss(account)}"></span>)
            </h3>
        </span>

        <br>
        <table style="margin-bottom:10px">
            <thead>
                <tr>
                    <th>Load Price</th>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Price</th>
                    <th>Change (%)</th>
                    <th>Owned</th>
                    <th>Buy</th>
                    <th></th>
                    <th>Sell</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stockListing : ${stockListings}" style="text-align: center;">
                    <td><a th:href="@{/generatePrice/{stock_name}(stock_name=${stockListing.name})}"><button type="button">Generate</button></a></td>
                    <td><span th:text="${stockListing.name}"></span></td>
                    <td><b><span th:text="${stockListing.symbol}"></span></b></td>
                    <td><span th:text="${stockListing.price}"></span></td>

                    <td><b>
                        <span th:if="${stockListing.priceChange} &gt; 0">
                            +<span th:text="${stockListing.priceChange}" style="color: green"></span>
                        </span>
                        <span th:if="${stockListing.priceChange} &lt; 0">
                            -<span th:text="${stockListing.priceChange}"></span>
                        </span>
                        <span th:if="${stockListing.priceChange} == 0">
                            <span th:text="${stockListing.priceChange}"></span>
                        </span>
                    </b></td>

                    <td>
                        <span th:with="stockSymbol=${stockListing.symbol}" th:text="${account.getOwnedStockQuantity(stockSymbol)}"></span>
                    </td>

                    <form th:action="@{/buyStock/{stock_name}(stock_name=${stockListing.name})}" method="get">
                        <td><input type="text" name="amountString" size="4"></span></td>
                        <td><button type="submit" class="button">Buy</button></td>
                    </form>

                    <form th:action="@{/sellStock/{stock_name}(stock_name=${stockListing.name})}" method="get">
                        <td><input type="text" name="amountString" size="4"></span></td>
                        <td><button type="submit" class="button">Sell</button></td>
                    </form>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/simulateUpdate}" method="post">
            <button type="button">Simulate Update</button>
        </a>
    </body>
</html>