<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>StockInc</title>
        <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    </head>
    
    <body class="background-container">
        <!-- Offscreen Menu -->
        <div class="offscreen-menu">
            <div class="offscreen-menu-header" id="offscreenMenuHeader">Buy Infrastructure</div>
            
            <!-- Buy Tipster Screen -->
            <div id="buyTipsterScreen" style="display: none;">

            </div>

            <!-- Buy Unit Screen -->
            <div id="buyUnitScreen" style="display: none;">
                <div class="offscreen-menu-subheader" id="unitType">Unit Type</div>
                <span class="same-line" style="margin-top: 5px; margin-bottom: 5px;">
                    <div class="same-line offscreen-menu-item" style="justify-content: center;">
                        <div>$</div>
                        <div id="unitPrice">Unit Price</div>
                    </div>
                    <div class="offscreen-menu-item">Count</div>
                </span>
                <form th:action="@{/buyUnits}" method="get">
                    <span class="same-line" style="margin-bottom: 5px; align-items: center;">
                        <div class="same-line offscreen-menu-item red" style="width: 50%; justify-content: center;">
                            <div>-$</div>
                            <div id="buyPrice">0.00</div>
                        </div>
                        <div style="width: 50%; text-align: center;">
                            <input type="hidden" th:value="0" name="unitType" id="unitTypeInput"/>
                            <input type="number" name="unitCount" size="4" min=0 oninput="validity.valid||(value='');" class="text-field-large" style="text-align: center;" id="inputBuyCount">
                        </div>
                    </span>
                    <button type="submit" class="button" style="width: 100%; padding-top: 7px; padding-bottom: 7px;">Hire</button>
                </form>
            </div>
        </div>

        <!-- Navbar -->
        <div class="nav-bar">
            <a th:href="@{/index}"><img th:src="@{/images/Logo.png}"/></a>
            <span class="nav-bar-item"><a th:href="@{/index}" style="color: #C6EBF2;">Listings</a></span>
            <span class="nav-bar-item"><a th:href="@{/groups}" style="color: #C6EBF2;">Groups</a></span>
            <span class="nav-bar-item"><a th:href="@{/infrastructure}" style="color: #C6EBF2;">Infrastructure</a></span>
            <span class="nav-bar-item nav-bar-item-end"><a th:href="@{/logout}" style="color: #C6EBF2;">Logout</a></span>
        </div>
        <span class="same-line nav-bar-user-data">
            <div>Credit: $<span th:text="${userCredits}"></span></div>
            <div style="width: 5px;"></div>
            <div>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} &gt; 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestment(userName)}"></span>
                    <span class="green" style="font-weight: bold;">
                        (+$<span th:with="userName=${userName}" th:text="${accountService.getGainLoss(userName)}"></span>)
                    </span>
                </span>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} &lt; 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestment(userName)}"></span>
                    <span class="red" style="font-weight: bold;">
                        (-$<span th:with="userName=${userName}" th:text="${accountService.getGainLoss(userName)}"></span>)
                    </span>
                </span>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} == 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestment(userName)}"></span>
                    <span style="font-weight: bold;">
                        (+$<span th:with="userName=${userName}" th:text="${accountService.getGainLoss(userName)}"></span>)
                    </span>
                </span>
            </div>
        </span>

        <!-- Infrastructure Box -->
        <div class="border-box-3" style="width: 60%;">
            <!-- Units -->
            <div class="border-box-3-header">Units</div>
            <div class="same-line">
                <a href="#" th:each="unitType : ${unitList}">
                    <div th:attr="onclick=|clickInfrastructureUnit('${unitType}', '${unitPrices}')|" style="position: relative; margin-right: 10px;">
                        <img th:src="@{/images/IconTemplate.png}"/>

                        <div th:if="${unitType} == 'Hacker'">
                            <div class="bottom-icon-left-corner" style="bottom: 60px; left: 16px;"></div>
                            <div th:with="userName=${userName}, unitType=${unitType}" th:text="${accountService.getUnitCount(userName, unitType)}" class="bottom-icon-banner" style="bottom: 60px; left: 28px; width: 26px;"></div>
                            <div class="bottom-icon-right-corner" style="bottom: 60px; left: 60px;"></div>
                        </div>

                        <div th:if="${creatingUnitType} == ${unitType}">
                            <div th:text="${creatingUnitTimeLength}" id="creatingUnitTimeLength" style="display: none;"></div>
                            <div th:text="${creatingUnitTime}" id="creatingUnitTime" style="display: none;"></div>
                            <div class="bottom-icon-banner" style="left: 0px; width: 65px; bottom: 30px; background-color: RGBA(38, 59, 63, 0.75);" id="unitCreationTimeField"></div>
                        </div>
                        
                        <div class="bottom-icon-left-corner"></div>
                        <div th:text="${unitType}" class="bottom-icon-banner"></div>
                        <div class="bottom-icon-right-corner"></div>
                    </div>
                </a>
            </div>

            <!-- Infrastructure -->
            <div class="border-box-3-header" style="padding-top: 20px;">Infrastructure</div>
            <div class="same-line">
                <a href="#">
                    <div style="position: relative; margin-right: 10px;">
                        <img th:src="@{/images/IconTemplate.png}"/>
                        <div class="bottom-icon-left-corner"></div>
                        <div class="bottom-icon-banner">Firewall</div>
                        <div class="bottom-icon-right-corner"></div>
                    </div>
                </a>
                <a href="#">
                    <div style="position: relative; margin-right: 10px;">
                        <img th:src="@{/images/IconTemplate.png}"/>
                        <div class="bottom-icon-left-corner"></div>
                        <div class="bottom-icon-banner">Server</div>
                        <div class="bottom-icon-right-corner"></div>
                    </div>
                </a>
            </div>
        </div>

        <script type="text/javascript" src="js/offscreenMenuInfrastructure.js"></script>
    </body>
</html>