<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>StockInc</title>
        <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    </head>
    
    <body class="background-container">
        <!-- Offscreen Menu -->
        <div class="offscreen-menu">
            <div class="offscreen-menu-screen">
                <div class="offscreen-menu-header" id="offscreenMenuHeader">Buy Infrastructure</div>
                
                <!-- Buy Tipster Screen -->
                <div id="buyTipsterScreen" style="display: none;">
                    <div class="offscreen-menu-item" style="justify-content: center; margin-top: 5px; margin-bottom: 5px;" id="tipsterPrice">Tipster Price</div>
                    <form th:action="@{/buyTipster}" method="get">
                        <button type="submit" class="button" style="width: 100%; padding-top: 7px; padding-bottom: 7px;">Buy Tip</button>
                    </form>
                </div>

                <!-- Buy Unit Screen -->
                <div id="buyUnitScreen" style="display: none;">
                    <div class="offscreen-menu-subheader" id="unitType">Unit Type</div>
                    <span class="same-line" style="margin-top: 5px; margin-bottom: 5px;">
                        <div class="same-line offscreen-menu-item" style="justify-content: center;">
                            <div>$</div>
                            <div id="unitPrice">Unit Price</div>
                        </div>
                        <div class="offscreen-menu-item">Count</div>
                    </span>
                    <form th:action="@{/buyUnits}" method="get">
                        <span class="same-line" style="margin-bottom: 5px; align-items: center;">
                            <div class="same-line offscreen-menu-item red" style="width: 50%; justify-content: center;">
                                <div>-$</div>
                                <div id="buyPrice">0.00</div>
                            </div>
                            <div style="width: 50%; text-align: center;">
                                <input type="hidden" th:value="0" name="unitType" id="unitTypeInput"/>
                                <input type="number" name="unitCount" size="4" value=0 min=0 oninput="validity.valid||(value='');" class="text-field-large" style="text-align: center; width: 50%;" id="inputBuyCount">
                            </div>
                        </span>
                        <button type="submit" class="button" style="width: 100%; padding-top: 7px; padding-bottom: 7px;">Hire</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <div class="nav-bar">
            <a th:href="@{/index}"><img th:src="@{/images/Logo.png}"/></a>
            <span class="nav-bar-item"><a th:href="@{/index}" style="color: #C6EBF2;">Listings</a></span>
            <span class="nav-bar-item"><a th:href="@{/groups}" style="color: #C6EBF2;">Companies</a></span>
            <span class="nav-bar-item"><a th:href="@{/infrastructure}" style="color: #C6EBF2;">Infrastructure</a></span>
            <span th:with="userName=${userName}" th:if="${accountService.getUnreadMessageCount(userName)} == 0" class="nav-bar-item">
                <a th:href="@{/messages}" style="color: #C6EBF2;">Messages</a>
            </span>
            <span th:with="userName=${userName}" th:if="${accountService.getUnreadMessageCount(userName)} &gt; 0" class="nav-bar-item">
                <a th:with="userName=${userName}" th:text="'Messages (' + ${accountService.getUnreadMessageCount(userName)} + ')'" th:href="@{/messages}" style="color: #34737D; white-space: nowrap;"></a>
            </span>
            <span class="nav-bar-item nav-bar-item-end"><a th:href="@{/logout}" style="color: #C6EBF2;">Logout</a></span>
        </div>
        <span class="same-line nav-bar-user-data">
            <div>Credit: $<span th:text="${userCreditsString}"></span></div>
            <div style="width: 5px;"></div>
            <div>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} &gt; 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestmentString(userName)}"></span>
                    <span class="green" style="font-weight: bold;">
                        (+$<span th:with="userName=${userName}" th:text="${accountService.getGainLossString(userName)}"></span>)
                    </span>
                </span>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} &lt; 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestmentString(userName)}"></span>
                    <span class="red" style="font-weight: bold;">
                        (-$<span th:with="userName=${userName}" th:text="${accountService.getGainLossString(userName)}"></span>)
                    </span>
                </span>
                <span th:with="userName=${userName}" th:if="${accountService.getGainLoss(userName)} == 0">
                    - Investment: $<span th:with="userName=${userName}" th:text="${accountService.getTotalInvestmentString(userName)}"></span>
                    <span style="font-weight: bold;">
                        (+$<span th:with="userName=${userName}" th:text="${accountService.getGainLossString(userName)}"></span>)
                    </span>
                </span>
            </div>
        </span>
        <span th:if="${hackTarget} != null" class="same-line nav-bar-hack-attack">
            <div th:text="'Hacking: ' + ${hackTarget.targetGroupSymbol} + ' -'" style="padding-right: 3px;"></div>
            <div th:text="${hackTarget.hackTimeLength}" id="hackTimeLength" style="display: none;"></div>
            <div th:text="${hackTarget.startTime}" id="hackTime" style="display: none;"></div>
            <div id="hackTimeField"></div>
        </span>

        <!-- Infrastructure Box -->
        <div class="border-box-3" style="width: 60%;">
            <!-- Units -->
            <div class="border-box-3-header">Units</div>
            <div class="same-line" style="flex-flow: wrap;">
                <a href="#" th:each="unitType : ${unitList}">
                    <div th:attr="onclick=|clickInfrastructureUnit('${unitType}', '${servicePrices}', '${unitPrices}', '${unitCounts}')|" style="position: relative; margin-right: 10px;">
                        <img th:if="${unitType} == 'Tipster'" th:src="@{/images/IconTipster.png}"/>
                        <img th:if="${unitType} == 'Hacker'" th:src="@{/images/IconHacker.png}"/>
                        <img th:if="${unitType} == 'Analyst'" th:src="@{/images/IconAnalyst.png}"/>
                        <img th:if="${unitType} == 'Influencer'" th:src="@{/images/IconInfluencer.png}"/>

                        <div th:if="${unitType} == 'Hacker' OR ${unitType} == 'Analyst' OR ${unitType} == 'Influencer'">
                            <div class="bottom-icon-left-corner" style="bottom: 60px; left: 16px;"></div>
                            <div th:with="userName=${userName}, unitType=${unitType}" th:text="${accountService.getUnitCount(userName, unitType)}" class="bottom-icon-banner" style="bottom: 60px; left: 28px; width: 26px;"></div>
                            <div class="bottom-icon-right-corner" style="bottom: 60px; left: 60px;"></div>
                        </div>

                        <div th:if="${tipsterCooldown} == ${unitType}">
                            <div th:text="${tipsterCooldownTimeLength}" id="tipsterCooldownTimeLength" style="display: none;"></div>
                            <div th:text="${tipsterCooldownTime}" id="tipsterCooldownTime" style="display: none;"></div>
                            <div class="bottom-icon-banner" style="left: 0px; width: 65px; bottom: 30px; background-color: RGBA(38, 59, 63, 0.75);" id="tipsterCooldownTimeField"></div>
                        </div>

                        <div th:if="${creatingUnitType} == ${unitType}">
                            <div th:text="${creatingUnitTimeLength}" id="creatingUnitTimeLength" style="display: none;"></div>
                            <div th:text="${creatingUnitTime}" id="creatingUnitTime" style="display: none;"></div>
                            <div class="bottom-icon-banner" style="left: 0px; width: 65px; bottom: 30px; background-color: RGBA(38, 59, 63, 0.75);" id="unitCreationTimeField"></div>
                        </div>
                        
                        <div class="bottom-icon-left-corner"></div>
                        <div th:text="${unitType}" class="bottom-icon-banner"></div>
                        <div class="bottom-icon-right-corner"></div>
                    </div>
                </a>
            </div>

            <!-- Infrastructure -->
            <div class="border-box-3-header" style="padding-top: 20px;">Infrastructure</div>
            <div class="same-line" style="flex-flow: wrap;">
                <a href="#">
                    <div style="position: relative; margin-right: 10px;">
                        <img th:src="@{/images/IconTemplate.png}"/>
                        <div class="bottom-icon-left-corner"></div>
                        <div class="bottom-icon-banner">???</div>
                        <div class="bottom-icon-right-corner"></div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Unit Queue Box -->
        <div th:if="${unitQueue.size &gt; 0}" class="border-box-3" style="width: 60%;">
            <div class="border-box-3-header" style="font-size: 13px; padding-bottom: 0;">Unit Queue</div>
            <span class="same-line" style="flex-flow: wrap;">
                <div th:each="queueObject : ${unitQueue}" style="position: relative; margin-right: 6px; margin-top: 6px;">
                    <img th:if="${queueObject.unitType} == 'Hacker'" th:src="@{/images/IconHackerSmall.png}"/>
                    <img th:if="${queueObject.unitType} == 'Analyst'" th:src="@{/images/IconAnalystSmall.png}"/>
                    <img th:if="${queueObject.unitType} == 'Influencer'" th:src="@{/images/IconInfluencerSmall.png}"/>

                    <div th:if="${queueObject.unitType} == 'Hacker' OR ${queueObject.unitType} == 'Analyst' OR ${queueObject.unitType} == 'Influencer'">
                        <div class="bottom-icon-left-corner" style="bottom: 45px; left: 9px; border-top-width: 10px; border-left-width: 10px;"></div>
                        <div th:text="${queueObject.unitCount}" class="bottom-icon-banner" style="bottom: 45px; left: 18px; width: 22px; font-size: 9px;"></div>
                        <div class="bottom-icon-right-corner" style="bottom: 45px; left: 46px; border-bottom-width: 10px; border-right-width: 10px;"></div>
                    </div>

                    <div class="bottom-icon-left-corner" style="bottom: 0px; left: 0px; border-top-width: 9px; border-left-width: 10px;"></div>
                    <div th:text="${queueObject.unitType}" class="bottom-icon-banner" style="bottom: 0px; left: 9px; width: 27px; font-size: 8px; height: 9px;"></div>
                    <div class="bottom-icon-right-corner" style="bottom: 0px; left: 41px; border-bottom-width: 9px; border-right-width: 10px;"></div>
                </div>
            </span>
        </div>

        <script type="text/javascript" src="js/offscreenMenuInfrastructure.js"></script>
        <script type="text/javascript" src="js/hackTargetCountdown.js"></script>
    </body>
</html>